.painel{
    height: 120px;
    width: 120px;
    background-color: black;
    border: 1px solid gray;
    cursor: pointer;
}

.painel > span{
    font-size: 50px;
    display: none;
}
#gameInterface{
    display: none;
    grid-template-columns: 120px 120px 120px 120px;
}