@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

main{
    height: calc(100vh - 13.5vh);
    background-color: #ee82ee;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../../images/wall.png');
}

#modalStart{
    background-color: rgb(168, 97, 40);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 450px;
    height: 350px;
    font-family: 'Press Start 2P', system-ui;
}

#modalStart > h1{
    font-size: 25px;
}

#modalStart > ul{
    list-style: none;
}

#modalStart > ul > li{
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 0px 20px;
    margin: 2px 0px;
}

#modalGamerOverPlay{
    display: none;
    background-color: rgb(168, 97, 40);
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 450px;
    height: 260px;
}

#modalGamerOverPlay > h2{
    font-family: 'Press Start 2P', system-ui;
    font-size: 25px;
}

#modalGamerOverPlay > h3{
    font-family: 'Press Start 2P', system-ui;
}

#timeOutModal{
    display: none;
    background-color: rgb(168, 97, 40);
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 450px;
    height: 260px;

    font-family: 'Press Start 2P', system-ui;
    font-size: 30px;
}

.buttonCss{
    width: 80px;
    height: 23px;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(86, 86, 204);
    font-weight: bold;
}

#gameInterface{
    display: none;
    grid-template-columns: 130px 130px 130px;
    column-gap: 6px;
    row-gap: 1px;
    justify-content: center;
    align-items: center;
}

.painel{
    height: 125px;
    width: 125px;
    background-color: rgb(40, 86, 40);
    border: 5px solid #000000;

    cursor: pointer;
}

.ralph{
    background-image: url('../../images/ralph.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}